<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center">
<h1>플레이리스트 보기</h1>
<table border="1" align="center">
    <thead>
    <tr>
        <th>NO.</th>
        <th>ID</th>
        <th>플레이날짜</th>
        <th>맞은갯수</th>
        <th>틀린갯수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list == null or #lists.isEmpty(list)}">
        <td colspan="5">데이터가 없습니다.</td>
    </tr>
    <tr th:each="item, stat : ${list}" th:object="${item}">
        <td th:text="${stat.count}"></td>
        <td th:text="*{memberId}"></td>
        <td th:text="*{dateTime}"></td>
        <td th:text="*{totalAnswerTrue}"></td>
        <td th:text="*{totalAnswerFalse}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">메인화면</a>
</body>
</html>